

/* ==|== primary styles =====================================================
   Author: JKB, University Publishing, Washington State University
   ========================================================================== */

body { background:#fff url('img/Header-background.png') repeat-x top center; }

a { color:#981e32; }
a:visited { color: #981e32; }
a:hover { color:#5e6a71; }

h1, h3, h5 { color:#000; }
h2, h4, h6 { color:#981e32; }

.small-text { font-size:0.7em; line-height:1.5; }
.clear { clear:both; }
.crimson { color:#981e32; }

header { height:255px; margin-top:50px; text-align:center; color:#b6bcbf; background:transparent url('img/Header-WSU-background.png') no-repeat top center;}
#displayheader{ height: 200px; }

#main { margin:25px auto 10px auto; background-color:#fff; color:#000; text-align:center; width:85%; float:left; clear:both; margin-left:7.5%; margin-right:7.5%; overflow:auto;

	/* rounding corners */
	-webkit-border-radius:10px 10px 10px 10px;
	-moz-border-radius:10px 10px 10px 10px;
	border-radius:10px 10px 10px 10px;	

	background:none repeat scroll 0 0 #ffffff;
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.1) inset;

	/* adding drop shadow */
	-webkit-box-shadow:0 8px 20px -3px #000000;
	-moz-box-shadow:0 8px 20px -3px #000000;
	box-shadow:0 8px 20px -3px #000000;
 
}
.admin #main {    clear: none;
    float: left;
    margin: 12px 2px 6px;
    overflow: hidden;
    width: 750px;}
.admin #wrapper{width:960px;}
.admin #wrapper #content{background: url("http://images.wsu.edu/global/gen2images/bg-content.gif") repeat-y scroll right top #fff}
	
.admin tr.odd {
    background-color: #EEEEEE;
    border: 1px solid #D2D2D2;
}
.admin tr.even {
    background-color: #D2D2D2;
    border: 1px solid #c2c2c2;
}


	
#nav {
	display:block;
	
	color:#fff; padding:5px; border-bottom:1px solid #262b2d; line-height:1.75;

	/* gradient bkgrd */
	background-image: linear-gradient(bottom, #131415 0%, #5e6a71 57%);
	background-image: -o-linear-gradient(bottom, #131415 0%, #5e6a71 57%);
	background-image: -moz-linear-gradient(bottom, #131415 0%, #5e6a71 57%);
	background-image: -webkit-linear-gradient(bottom, #131415 0%, #5e6a71 57%);
	background-image: -ms-linear-gradient(bottom, #131415 0%, #5e6a71 57%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #5e6a71),
		color-stop(0.57, #959899)
	);

}
.ie #nav{background-image:url(../../Content/img/nav_bk.png);}
.ie .admin  #nav{background:url(../../Content/img/nav_bk_lnx2.png) repeat left bottom #999;}
@media screen and (max-width:850px) and (min-width:486px){.ie #nav{background-image:url(../../Content/img/nav_bk_ln.png);}}
@media screen and (max-width:485px) and (min-width:0px){.ie #nav{background-image:url(../../Content/img/nav_bk_lnx2.png);}}
#nav a { color:#fff; text-decoration:none; }
#nav a:hover { color:#b6bcbf; }

#nav ul li { display:inline; padding:0px 10px; border-left:1px dotted #e7e9ea; }
#nav ul li.last { border-right:1px dotted #e7e9ea }

.navbar{min-height: 55px; background:none;}
.navbar ul li{    
	height: 55px;
    line-height: 55px;
}

.navbar ul li > a {
  height: 55px;
  line-height: 55px;
}

#nav2{}
#nav2 #menu-quickaction{float: right;}
#nav2 #menu-quickaction li{line-height:36px;height:36px; width: 215px; margin-bottom:9px;}
#nav2 #menu-quickaction li:first-of-type{line-height:65px;height:65px; }
#nav2 #menu-quickaction li > a {    color: #FFFFFF;
    display: inline-block;
    font-weight: bold;
    height: 36px;
    line-height: 36px;
    width: 100%;
	background:transparent url('img/nav-link-background.png') center center;
	}
#nav2 #menu-quickaction li:first-of-type > a{line-height:65px;height:65px;}
#nav2 #menu-quickaction li > a:hover {}







#main-content {position: relative; padding:20px 40px; color:#000; text-align:left; }
#main-content a { color:#981e32; }
#main-content a:hover { color:#5e6a71; }

#left-col { float:left; position:relative; width:68%; height:100%; padding-right:2%  }
#right-col { text-align:right; position:relative; float:left; width:26%; height:100%; padding-left:4%; }
#right-col {float:right;}
#right-col img { border:none; margin-bottom:1em; width:100%; }



/* Button Navigation */
#button-nav { margin-right:1.6em; }
#button-nav, #button-nav2 { float:left; color:#000; text-transform:uppercase; padding:5px 5px 5px 0px; width:250px; }
#button-nav ul li, #button-nav2 ul li {  margin:5px 0px; vertical-align:middle; list-style-type:none; display:block; text-indent: -9999em; }
#button-nav a, #button-nav2 a { color:#000; text-decoration:none; float:left; }
#button-nav a:hover, #button-nav2 a:hover { color:#981e32; }

#search-button a, #search-button a:hover, #register-button a, #register-button a:hover, #hire-button a, #hire-button a:hover, #view-button a, #view-button a:hover, #linkedin-button a, #linkedin-button a:hover { width:250px; height:39px; background:transparent url('img/icons/button-nav.png') no-repeat 0px -39px; margin-bottom:6px; }
/* Active States */
#search-button a { background-position:0px -39px; }
#register-button a { background-position:-250px -39px; }
#hire-button a { background-position:-500px -39px; }
#view-button a { background-position:-750px -39px; }
#linkedin-button a { background-position:-1000px -39px; }
/* Rollover States */
#search-button a:hover { background-position:0px -0px; }
#register-button a:hover { background-position:-250px -0px; }
#hire-button a:hover { background-position:-500px -0px; }
#view-button a:hover { background-position:-750px -0px; }
#linkedin-button a:hover { background-position:-1000px -0px; }



/* Disclaimer Text */	
#details { text-align:left; color:#000; font-size:0.7em; line-height:1.5; float:left; clear:both; width:100%; }
.front.Business.home #details {
  color: #000000;
  display: inline-block;
  font-size: 1em;
  line-height: 1.5;
  /*margin-right: 106px;*/
  text-align: left;
  width: 68%;
  float:none;
  clear:none;
}
.front.Business.home #details hr {/*display:none;*/margin: 2px 0;}
.front.Business.home #details p {/*display:none;*/margin: 2px 0;}
#details hr{padding-top:3px; color:#ffffff; background-color:#ffffff; border:1px dotted #2b3034; border-style:none none dotted;}

/* Social Media Icons in Footer */
#social-icons ul { margin: 0.8em 0 1.25em 0; }
#social-icons ul li { list-style:none; margin:0 0.625em 0 0; position:relative; display:inline-block; }

#Twitter a, #Twitter a:hover, #Facebook a, #Facebook a:hover, #Pinterest a, #Pinterest a:hover, #LinkedIn a, #LinkedIn a:hover, #Join-WSUAA a, #Join-WSUAA a:hover { background:transparent url('img/icons/social-icons-combined.png') no-repeat 0 0; display:inline-block; text-indent: -9999em; }
/* Active States */
#Twitter a { width:27px; height:28px; background-position:0px 0px; }
#Facebook a { width:27px; height:28px; background-position:-29px 0px; }
#Pinterest a { width:27px; height:28px; background-position:-57px 0px; }
#LinkedIn a { width:27px; height:28px; background-position:-85px 0px; }
#Join-WSUAA a { width:27px; height:28px; background-position:-114px 0px; }
/* Rollover States */
#Twitter a:hover { background-position:0px -29px; }
#Facebook a:hover { background-position:-29px -29px; }
#Pinterest a:hover { background-position:-57px -29px; }
#LinkedIn a:hover { background-position:-85px -29px; }
#Join-WSUAA a:hover { background-position:-114px -29px; }



#footer { text-align:center; color:#b6bcbf; font-size:0.75em; line-height:1.5; float:left; clear:both; width:100%; }
#footer a { color:#b6bcbf; }
#footer a:visited { color:#b6bcbf; }
#footer #footer-bkgrd a:hover { color:#981e32; }

#footer #footer-crimson { background-color:#981e32; border-top:1px solid #000; height:4px; }

#footer #footer-bkgrd { margin-top:4px; background:url('img/bkgrd/footer-texture.jpg') repeat-x top center; padding:13px; text-align:center; color:#b6bcbf; 

	/* adding drop shadow underneath */
	-webkit-box-shadow:0 8px 20px 0px #000000;
	-moz-box-shadow:0 8px 20px 0px #000000;
	box-shadow:0 8px 20px 0px #000000;

}


/* Map styles */

	#mapJson,.mapJson{position:absolute;top:-9999em;left:-9999em;}
	.hoverbox{}
	.hoverbox .infoClose{display:none;}
	.map{width:100%; height:150px;}

/* page by page */
#more{position: absolute;position:absolute;top:-9999em;left:-9999em;	-webkit-box-shadow:0 8px 20px 0px #000000;
	-moz-box-shadow:0 8px 20px 0px #000000;
	box-shadow:0 8px 20px 0px #000000;	}
.expoArea{
position: relative;
	
	}
.expoArea #more [href="#more"]{display:none;}
.expoArea.active #more{
	
    border: 1px solid #E2E2E2;
    background: none repeat scroll 0 0 #FFFFFF;
    left: -5px;
    padding: 4px;
    top: 75%;
    width: 100%;
	}
.expoArea.active #more [href="#more"]{display:block;}


.col_1{width:50%;float:left;display:inline-block;height: 55px;}
.col_2{width:50%;float:left;display:inline-block;height: 55px;position:relative}
.col_2 input[type="submit"],.col_2 input[type="button"]{position:absolute;bottom:0px; right:0px;}


body.page.page-id-9 #main-content {
	background:#ffffff url('img/bkgrd/page-corner.jpg') no-repeat top left;
	padding-left:146px;
	padding-top:53px;
}


.search-select{margin-bottom:15px;display:inline-block;}
.searchbox{padding: 5px 15px;}




/* CUSTOM  */

#nav2{
	float:right;
	}















@media screen and (max-width:750px) and (min-width:0px){
	.col_1{height:75px;}
	.col_2{height:75px;}
}

/* ==|== media queries ======================================================
   EXAMPLE Media Query for Responsive Design.
   This example overrides the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}



/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}





